<!-- register.component.html -->
<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg w-full max-w-md">
      <h1 class="text-2xl mb-4 text-center">Registration</h1>
      <p class="mb-6 text-center">
        Already have an account? <a routerLink="/login" class="text-teal-500">Log In</a>
      </p>
      <form [formGroup]="registrationForm" (ngSubmit)="register()" class="flex flex-col gap-4">
        <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
        <input
          formControlName="username"
          class="border rounded p-2"
          type="text"
          placeholder="Username"
          required
        />
        <input
          formControlName="email"
          class="border rounded p-2"
          type="email"
          placeholder="Email"
          required
        />
        <input
          formControlName="password"
          class="border rounded p-2"
          type="password"
          placeholder="Password"
          required
        />
        <input
          formControlName="passwordConfirm"
          class="border rounded p-2"
          type="password"
          placeholder="Confirm Password"
          required
        />
        <button type="submit" class="bg-teal-500 hover:bg-teal-700 text-white p-2 rounded mt-4">
          Register
        </button>
      </form>
    </div>
  </div>
  