<div class="max-w-3xl mx-auto p-4 sm:p-6 md:p-8">
  <h1 class="text-2xl sm:text-3xl font-bold mb-4">About Us</h1>
  <p class="text-base sm:text-lg mb-6">
    Decline is a free-to-use web application designed to help users practice German adjective declensions.
    By generating random sentences, it provides an opportunity to practice various article and adjective forms.
    This project was created as a hobby.
  </p>

  <h1 class="text-2xl sm:text-3xl font-bold mt-8 mb-4">Usage</h1>
  <p class="text-base sm:text-lg">
    Each question is accompanied by two columns from which you can select the correct article and adjective form.
    You can then check your answer using the "Check Answer" button.
    The application can be used without registration, but if you register,
    you can track your correct and incorrect answers in your profile and retry the questions you answered incorrectly.
  </p>
</div>
