<div class="flex flex-col sm:flex-row items-center justify-between p-2 bg-gray-800 text-white">
  <div class="flex justify-start">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <img src="assets/images/decline-logo2.png" alt="Logo" class="h-14 w-auto">
    </a>
  </div>
  
  <div class="flex flex-col sm:flex-grow sm:flex-row sm:justify-center space-y-2 sm:space-y-0 sm:space-x-16">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="handleClickHomeButton()">Train</a>
    <a routerLink="/about" routerLinkActive="active">About</a>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" routerLinkActive="active" (click)="handleLogin()">Login</a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <a (click)="handleLogout()" class="cursor-pointer sm:ml-4">Log Out</a>
    </ng-container>
  </div>

  <div *ngIf="isLoggedIn" class="flex flex-col sm:flex-row justify-end space-y-2 ">
      <a routerLink="/profile" routerLinkActive="active" class="px-4 mt-2 sm:mt-0">Profile</a>
  </div>
</div>


<!-- <div class="flex flex-col sm:flex-row items-center justify-between p-2 bg-gray-800 text-white">
  <div class="flex justify-start">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="assets/images/decline-logo2.png" alt="Logo" class="h-14 w-auto">
    </a>
  </div>

  <div class="flex flex-col sm:flex-grow sm:flex-row sm:justify-center space-y-2 sm:space-y-0 sm:space-x-16">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="handleClickHomeButton()">Train</a>
    <a routerLink="/about" routerLinkActive="active">About</a>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" routerLinkActive="active" (click)="handleLogin()">Login</a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <a (click)="handleLogout()" class="cursor-pointer sm:ml-4">Log Out</a>
      <a routerLink="/profile" routerLinkActive="active" class="cursor-pointer sm:ml-4">Profile</a> <!-- Profile is now in the same div -->
    <!-- </ng-container>
  </div>
</div> -->

