<div>
    <h2>Adjective Declension</h2>
    <p>{{task.task}}</p>
    
    <h3>Article Options</h3>
    <ul>
        <li *ngFor="let articleAnswerOption of task.articleAnswerOptions; let i = index">
            <input type="radio" [id]="'article-' + i" name="article" [(ngModel)]="selectedArticle" [value]="articleAnswerOption">
            <label [for]="'article-' + i">{{articleAnswerOption}}</label>
        </li>
    </ul>
    
    <h3>Adjective Options</h3>
    <ul>
        <li *ngFor="let adjectiveAnswerOption of task.adjectiveAnswerOptions; let i = index">
            <input type="radio" [id]="'adjective-' + i" name="adjective" [(ngModel)]="selectedAdjective" [value]="adjectiveAnswerOption">
            <label [for]="'adjective-' + i">{{adjectiveAnswerOption}}</label>
        </li>
    </ul>
</div>
